* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #0ea5e9;
}
section {
    background-color: white;
    border-radius: 8px;
    width: 85%;
    margin: 16px auto;
}
.container {
    padding: 12px;
}
h3 {
    color: #0ea5e9;
}
.text-center {
    text-align: center;
}
p {
    color: #0ea5e9;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #0ea5e9;
    border-radius: 8px;
    padding: 5px 12px;
    margin: 12px 0 0;
}
.text {
    width: 100%;
    color: #0ea5e9;
    font-size: 1.1rem;
}
button {
    color: #0ea5e9;
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid #0ea5e9;
    border-radius: 8px;
    padding: 3px 12px;
    outline: none;
    cursor: pointer;
    transition: color, background-color .3s;
}
button:hover {
    color: white;
    background-color: #0ea5e9;
}
button:active {
    color: #0ea5e9;
    background-color: white;
}
span {
    color: black;
    font-weight: 600;
    text-decoration: underline;
}
.footer span {
    color: green;
}
.red {
    color: red;
}
.footer p {
    padding: 6px 0;
}